<h1>lista de clientes</h1>
<div class="clients-container">
    {{#each clientes}}
        <div>
            #{{this.id}} - 
            <span class="bold"><a href="/client/listacliente/{{this.id}}">{{this.nome}}</a></span>
        </div>
    {{/each}}
</div>